.root {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: clamp(10px, 1vw, 20px);
  align-items: center;
}

.window {
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
}

.nav {
  background: #fdfdfd;
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #eeeeee;
}

.list {
  display: flex;
  width: 100%;
  height: 100%;
}

.list > li {
  position: relative;

  width: 100%;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  cursor: pointer;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--primary-color);
}

li.selected {
  background: #eee;
}

.content {
  padding: 20px;
}

@media (max-width: 720px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
