.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .courses__list{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: 2rem;
 }

.courses__item{
    overflow: hidden;
    display: grid;
    grid-template-rows: 70px 1fr ;
    border-radius: 10px;

	 padding: 10px 0 ;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    color: #000000 !important;
    
}

.courses__item__header{
    padding: 10px 20px;
    
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses__item__heading{
    font-weight: 900;
    font-size: clamp(14px, 5vw, 24px);

    color: #fff;
}

.courses__item__image{
    max-width: 100%;
    height: 140px;
}

.coursees__item__header__logo{
    display: none;
    height: 38px;
}

.courses__item__body{
    padding: 20px;
    
    display: flex;
    align-items: center;
    gap: 40px;
}


.courses__item__text{
    margin-top: 20px;

    text-align: justify;

    font-size: clamp(14px, 5vw, 18px);
}



.courses__item__link{
    align-self: flex-end;
    display: block;
    color:var(--primary-color);

    font-weight: 900; 
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 25px;
}

.courses__item__link:hover{
    transition: all 0.15s ease;

    color: #fff !important;
    background-color: var(--primary-color-hover);
}


table{
    border-spacing: 20px 0 ;
}


.courses__item__footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 20px;
}

.courses__item__line{
    border-bottom: 4px solid var(--primary-color);
}

.courses__item__line > p{
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 5px;
}

.courses__item__table th,
.courses__item__table td {
    font-weight: 600;
    font-size: 18px;
}



@media (max-width: 870px) {
    .courses__item__link{
        align-self: flex-end;
        display: block;

        color: #fff !important;
        font-weight: 900; 
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 25px;
    }
}

@media (max-width: 540px) {
    .courses__item-link{
        font-weight: 900; 
        font-size: 20px;
    }

    .courses__list{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 2rem;
 }

     
    .courses__item__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .courses__item__image{
        display: none;
    }

    .coursees__item__header__logo{
        display: block;
    }



    .courses__item__text{
        margin-top: 0;
    }
}
@media (max-width: 450px) {
    .courses__item__image{
    max-width: 100%;
    height: 80px;
}
    .courses__item{
        grid-template-rows: 50px 1fr auto;
    }
}