h1 {
  font-size: clamp(38px, 6vw, 68px);
  //   font-size: 70px;
  font-weight: 900;
}
h2 {
  font-size: 50px;
  //   line-height: 68px;
  font-weight: 700;
}
h3 {
  font-size: clamp(24px, 6vw, 46px);
  font-weight: 700;
}
h4 {
  font-size: clamp(18px, 3vw, 23px);
  //   font-size: 23px;
  line-height: 26px;
  font-weight: 900;
}
